include config.jade
mixin simple_header(title)
  doctype html
  html
    head
      title #{title} - #{config.site_name}
      link(rel='stylesheet',href="meru.css")
    body
      h1 #{config.site_name} #{title}
      noscript
        h2
          | Javascript is required for some parts of the site. Check the source code if you're paranoid.
          | Feel free to make the requests by hand.
      h2
        a(href="/signup.html") Signup
      h2
        a(href="/manage.html") Manage my Account
      h2
        a(href="/fuq.html") Frequently Unasked Questions
      a(href="mailto:#{config.site_email}") Contact Us
